<div class="panel lanel-primary">
	<div class="panel heading">
		Weather History
	</div>
	<div class="panel-body">
		<div class="row">
			<form action="" class="form-inline">
				<label for="history-sort">Select list:</label>
				<div class="form-group">
					<select class="form-control" id="history-sort">
						<option>Date</option>
						<option>Temp</option>
						<option>Conditions</option>
					</select>
				</div>
			</form>
		</div>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Date</th>
						<th>Temp</th>
						<th>Attr</th>
						<th>Attr</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>
