<chart [options]="options" (load)="saveInstance($event.context)"></chart>

<div class="panel panel-primary">
	<div class="panel-heading">{{getTitle()}}</div>
	<div class="panel-body" *ngIf="history && history.length">
		<div class="row">
			<div class="col-md-6">
				<form action="" class="form-inline">
					<label for="history-sort">Sort by:</label>
					<div class="form-group">
						<select class="form-control" id="history-sort">
							<option>Date</option>
							<option>Temp</option>
							<option>Conditions</option>
						</select>
					</div>
				</form>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<td *ngFor="#title of columns">{{title}}</td>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="#day of history">
						<td>{{day.time * 1000 | date:'mediumDate' || "No Data"}}</td>
						<td>{{day.summary || "No Data"}}</td>
						<td>{{day.precipType ? day.precipType : "None"}}</td>
						<td>{{day.temperatureMax ? day.temperatureMax + "&deg; F" : "No Data"}}</td>
						<td>{{day.temperatureMin ? day.temperatureMin + "&deg; F" : "No Data"}}</td>
						<td>{{day.windSpeed ? day.windSpeed + " mph" : "No Data"}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="panel-body" *ngIf="!(history && history.length)">
		<div class="row">
			<div class="col-md-6">No weather data for this location</div>
		</div>
	</div>
</div>
